<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button id="sideBarMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="6" offset-md="3" offset-xl="4" offset-sm="4" ng-reflect-size="12">
        <ion-item>
          <ion-card>
            <ion-img src="https://scontent-sin6-1.xx.fbcdn.net/v/t1.0-9/51290791_2042760819142309_2384048741561663488_o.jpg?_nc_cat=101&_nc_sid=84a396&_nc_ohc=u6YioxQK1r4AX_1ooZK&_nc_ht=scontent-sin6-1.xx&oh=fe4ee0a9aabadb2ab3d888fd3d2683de&oe=5FAFBC28" class="img"></ion-img>
            <ion-header style="text-align: center;">
              <ion-card-title><h1>Ageng Prayogo</h1></ion-card-title>
              <ion-card-subtitle><h3>00000026351 - DL</h3></ion-card-subtitle>
            </ion-header>
            <ion-card-content>
              Aplikasi ini dibuat untuk pelaksanaan ULON (UTSONLINE) CROSS-MOBILE yang dikerjakan dengan senang gembira, ditemani segelas kopi dan beberapa deadline. tanpa menggunakan library luar. <br><br>
              <p style="text-align: center;">
                Thanks to : <br>
                Allah SWT <br>
                Tugas mingguan <br>
                Agung , Dane, Geza , Yudha (Dj Discord)
             </p>
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
